:root {
    --primary: #264653;
    --secondary: #2a9d8f;
    --tertiary: #e9c46a;
}
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: var(--tertiary);
}
html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: var(--primary);
}
body{
    margin: 0px;
    overflow: hidden;
}
header {
    z-index: 1;
    background-color: var(--primary);
    padding: 8px 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 25vh;
    left: 0;
    right: 0;
    transition: top 0.5s ease-in;
}
header[data-search="true"]{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
main {
    position: relative;
    top: 50vh;
    height: 50vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s ease-in;
}
main[data-search="true"] {
    top: 18vh;
    height: 75vh;
    overflow: auto;
}
main[data-search="false"] ul {
    font-size: 1.3em;
    text-align: center;
    align-items: center;
}
main[data-search="false"] li .author{
    margin: 0px;
}
section {
    width: 90%;
    flex-direction: column;
}
#title {
    font-size: 3.5vh;
}
h3 {
    align-self: center;
    margin: 12px 0px;
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search > span {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
    border: 2px solid black;
    border-radius: 10px;
}
#error-display {
   color: #e9a76a; 
   width: 80%;
   text-align: center;
}
input {
    border: none;
    background: none;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px;
    margin: 0px 8px;
}
li {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    padding: 12px;
}
#pinned-quote-container  {
    display: none;
    border: 1px dashed var(--secondary);
    border-radius: 12px;
    margin: 0px 8px;
}
.quote {
    margin: 8px;
    font-size: 0.9em;
}
.author {
    margin: 0px 0px 0px 28px;
    font-size: 0.7em;
}

@media screen and (min-width: 750px) {
    * {
        font-size: 3.5vh;
    }
    header #title {
        font-size: 5.5vh;
    }
    header[data-search="true"] {
        
    }
    main {

    }
    main[data-search="true"] {
        top: 25vh;
    }
    main[data-search="false"] ul {

    }
    section {
        width: 65vw;
    }
}